<!DOCTYPE html>

<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Per il corretto funzionamento delle media query -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> <!-- Link Bootstrap -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Link Font-Awesome -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script> <!-- Link di collegamento a Vue.js -->

        <link rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="js/main.js"></script>

        <title>Vue Slider</title>
    </head>

    <body>
        <div id="root">
            <!-- Inizio header -->
            <header>

            </header>
            <!-- Fine header -->
    
            <!-- Inizio main -->
            <main>
                <div class="my_container">
                    <div class="carousel_container">
                        <div class="row h-100">
                            <!-- Inizio container di sinistra -->
                            <div class="col-10 p-0 position-relative">
                                <!-- Inizio della creazione delle varie immagini e dei loro overlay
                                     all'interno del container di sinistra che saranno ognuna 
                                     esattamente sotto/sopra l'altra a z-index diversi -->
                                <div class="image_container" :class="i === currentActiveImage ? 'active' : ''" v-for="(image, i) in imagesList">
                                    <img :src="image.url" :alt="'Immagine numeri' + (i + 1)">
                                    <div class="img_overlay">
                                        <h5 class="img_title fw-bold mb-1">{{ image.title }}</h5>
                                        <p class="img_text">{{ image.text }}</p>
                                    </div>
                                </div>
                                <!-- Fine della creazione delle varie immagini e dei loro overlay
                                     all'interno del container di sinistra che saranno ognuna 
                                     esattamente sotto/sopra l'altra a z-index diversi -->
                            </div>
                            <!-- Fine container di sinistra -->

                            <!-- Inizio container di destra -->
                            <div class="col-2 bg-dark p-0 position-relative">
                                <!-- Inizio della creazione delle varie immagini all'interno del container di destra
                                     che andranno a posizionarsi una sotto l'altra -->
                                <div class="mini_img_container" :class="i === currentActiveImage ? 'active' : ''" v-for="(image, i) in imagesList" v-on:click="onImageClick(i)">
                                    <img :src="image.url" :alt="'Immagine numeri' + (i + 1)">
                                </div>
                                <!-- Fine della creazione delle varie immagini all'interno del container di destra -->
                                
                                <!-- Inizio delle frecce -->
                                <a href="#" class="arrow_up" v-on:click="onPrevClick"><i class="far fa-arrow-alt-circle-up text-white"></i></a>
                                <a href="#" class="arrow_down" v-on:click="onNextClick"><i class="far fa-arrow-alt-circle-down text-white"></i></a>
                                <!-- Fine delle frecce -->
                            </div>
                            <!-- Fine container di destra -->
                        </div>
                    </div>
                </div>
            </main>
            <!-- Fine main -->
    
            <!-- Inizio footer -->
            <footer>
    
            </footer>
            <!-- Fine footer -->
        </div>
    </body>
</html>
